<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Houses</title>
</head>
<body>
    <h1>Please, enter info about your house</h1>

    <form action="/myHouse" method="POST" name="houseForm">
        Street<input type="text" name="street">
        Floor<input type="text" name="floor">
        Number of rooms<input type="text" name="rooms">
        <input type="submit">
        
</body>
</html>